
{% set path_opt = path_opt | default({}) %}
{% set active = path_for(path, path_opt) in path_for(route.getName(), route.getArguments()) %}
{% if exact %}
    {% set active = path == route.getName() %}
{% endif %}
{% if translated != null %}
    {% set label = translator.lang(translated.label, translated.args | default({})) %}
{% endif %}

<a class="{{ class | default('') }}{{ active ? ' -focus' : '' }}{{ badged != null ? ' -badged' : '' }}" href="{{ path_for(path, path_opt) }}">
    {% if ico != null %}
        <i class="ico ico-{{ ico }} ico-right"></i>
    {% endif %}
    {% if prefix != null %}
        <span class="{{ prefix.class }}" {% for key, value in prefix.props|default({}) %} {{ key }}="{{ value }}"{% endfor %}>{{ prefix.content | default('') }}</span>
    {% endif %}
    {{ label | default(path) }}{{ child | default('') | raw }}

    {% if badged != null %}
        <span class='badge {{ badged.class | default('') }}'>{{ badged.content }}</span>
    {% endif %}
</a>
