{% if auth.check() and auth.hasRole('admin') %}
    {% include '@Domain/link.twig' with { path: 'admin.home', label: translator.lang('@Admin.parts.nav.admin'), class: 'nav-item -error' } %}
{% endif %}