{% extends '@Domain/layout/app.twig' %}

{% block content %}
	<div grid='fluid' class='_size-fluid-v'>
		{% include '@Admin/components/sidebar.twig' %}
		
		<div grid='rows fluid gutters' column class='-scrollable'>

			<div>{% include '@Domain/components/alerts.twig' %}</div>

			{% block admin_content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
