<div class="card-box">
	<div class="content">
		{{ translator.lang('@Git.setup.steps.authentication.content') }}
		<br>
		<br>
		<div class='floating-container' data-action='copy' data-trigger='click'>
			<textarea disabled rows='5'>{{ setup.getPublicKey() | raw }}</textarea>
			<span style='display:none' data-target>{{ setup.getPublicKey() | raw }}</span>
		</div>

		<br>

		<form method='POST' grid='right'>
			{{ csrf.field | raw }}

			<input type="submit" class='-success' value='{{ translator.lang('@Git.setup.steps.authentication.done') }}'>
		</form>
	</div>
</div>