<div class="card-box">
	<div class="content">
		{{ translator.lang('@Git.setup.steps.rights.content') }}

		<br>
		<br>

		<code>
				chmod 777 -R {{ getenv('APP_PATH') }}/.git
		</code>

		<br>
		<br>

		<form method='POST' grid='right'>
			{{ csrf.field | raw }}

			<input type="submit" class='-success' value='{{ translator.lang('@Git.setup.steps.rights.done') }}'>
		</form>
	</div>
</div>