<div class="notification-box -default">
	{{ translator.lang('@Git.setup.steps.ssh.notification') }}
</div>
<div class="card-box">
	<div class="content">
		{{ translator.lang('@Git.setup.steps.ssh.content') }}

		<br>
		<br>

		<form method='POST' grid='right'>
			{{ csrf.field | raw }}
			<input type="submit" class='-success' value='{{ translator.lang('@Git.setup.steps.ssh.generate') }}'>
		</form>
	</div>
</div>