{% extends '@Admin/layout.twig' %}

{% block admin_content %}
	<div grid='rows gutters'>
		<div>
			<span class="simple-title">List</span>
		</div>
		<div>
			<table class='table'>
				<thead>
					<th>Name</th>
					<th>Path</th>
					<th>Method</th>
				</thead>
				<tbody>
					{% for route in routes %}
						<tr>
							<td>{{ route.name }}</td>
							<td>{{ route.pattern }}</td>
							<td>{{ route.methods | join(', ') }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
