<div grid='list gutters'>
	<h1>Git settings</h1>
	<div class='card-box'>
		<div class="content">
			<form action='{{ path_for('@Git.pull') }}' method='POST'>
				{{ csrf.field | raw }}
				<button class='-info'>Pull data</button>
			</form>
		</div>
	</div>
	<div class="simple-title">Output</div>
	<code>
		{{ output | default('') }}
	</code>
</div>