<h2>Git setup</h2>

{% for stepName, step in setup.steps %}
	<div grid='rows fluid gutters'
		{% if loop.index != setup.stepIndex %}
			disabled
		{% endif %}
	>
		<span class="simple-title">{{ loop.index == setup.stepIndex ? translator.lang('parts.step_current') : translator.lang('parts.step') ~ loop.index }} : {{ translator.lang('@Git.setup.steps.' ~ stepName ~ '.title') }}</span>
		{% include '@Git/setup/steps/' ~ stepName ~ '.twig' %}
	</div>

{% endfor %}
