{% macro link(path, label, class, exact, path_opt, data) %}
	{% set path_opt = path_opt | default({}) %}
	{% set active = path_for(path, path_opt) in path_for(route.getName(), route.getArguments()) %}
	{% if exact %}
		{% set active = path == route.getName() %}
	{% endif %}

    <a class="{{ class | default('') }}{{ active ? ' -focus' : '' }}" href="{{ path_for(path, path_opt) }}">{{ label | default(path) }}{{ data.child | default('') | raw }}</a>
{% endmacro %}