{% extends '@Domain/components/form/input.twig' %}

{% block input %}
    <div class="select" 
        {% for name, value in props %}
            {{ name }}='{{ value }}'
        {% endfor %}
    >
        <select name="{{ name }}" id='{{ name }}' class='{{ class }}'>
            {% for option in options %}
                {% set inputValue = option.value | default(option) %}
                {% set inputLabel = option.label | default(option) %}
                {% set selected = (value == inputValue ? ' selected' : '') %}

                {% if translated_options != null %}
                    {% set inputLabel = translator.lang(translated_options ~ '.' ~ inputLabel|lower) %}
                {% endif %}

                <option value="{{ inputValue }}"{{ selected }}>{{ inputLabel }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}