{% extends '@Domain/components/form/input.twig' %}

{% block input %}
    <textarea type="file" name='{{ name }}' id='{{ name }}' class='{{ class }}{% if attribute(errors, name) != null %} -error{% endif %}'>{{ value | default(attribute(old, name)) | default('') }}</textarea>
{% endblock %}